<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="flex flex-col items-center w-screen bg-slate-300">

    <mat-form-field appearance="fill" class="w-1/3 rounded-md h-24">
        <mat-label class="font-mono font-bold">Username</mat-label>
        <input matInput [(ngModel)]="username" name="username" placeholder="input your username here" type="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-1/3 rounded-md h-24">
        <mat-label class="font-mono font-bold">Password</mat-label>
        <input matInput [(ngModel)]="password" name="password" placeholder="input your password here" type="password">
    </mat-form-field>

    <button type="submit" mat-flat-button class="w-1/4 h-16">Login</button>

</form>

<router-outlet />