<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <mat-card class="w-full max-w-md p-4">
        <h2 class="text-2xl font-semibold mb-4">Login</h2>
        <p class="mb-6 text-gray-600">Before login, please verify your email first.</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="w-full mb-4">
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email" placeholder="Please enter the email linked to your account">
                <mat-error *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.touched">
                    <span *ngIf="loginForm.get('email')!.errors?.['required']">Email is required</span>
                    <span *ngIf="loginForm.get('email')!.errors?.['email']">Invalid email address</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full mb-4">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Please enter your password" type="password">
                <mat-error *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched">
                    <span *ngIf="loginForm.get('password')!.errors?.['required']">Password is required</span>
                    <span *ngIf="loginForm.get('password')!.errors?.['minlength']">Password must be at least 6
                        characters long</span>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" class="w-full" type="submit">Submit</button>
            <div class="underline mt-6">
                <a routerLink="/register">Still no account? Create one here</a>3
            </div>
        </form>
    </mat-card>
</div>