/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
    color: greenyellow;
  }
  
.snackbar-error {
    background-color: #f44336 !important;
    color: palevioletred;
  }


.mat-mdc-snack-bar-container.snackbar-error {
    --mdc-snackbar-container-color: #f32121 !important;
    --mat-mdc-snack-bar-button-color: #e68888 !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }
  

.mat-mdc-snack-bar-container.snackbar-success {
    --mdc-snackbar-container-color: #39c71f !important;
    --mat-mdc-snack-bar-button-color: #a2c29d !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }